body{
	background-color: rgba(202, 202, 192, 0.735);
	font-family: Manrope;
	margin-top: 0px;
	margin: 0px 0px 5px 0px;
}
.card{
	margin: auto;
	width: 50%;
    height: 50%;
	background-color: rgb(255, 255, 255);
    margin-top: 40px;
}

.headercard{
	
	display: flex;
	height: 45px;
	border-bottom: 0.2px solid rgba(208, 202, 202, 0.6);
    margin-top: 10px;
    padding-top: 10px;    
    justify-content: space-between;
}

.tituloimg{
    display: flex;
}
.options{
    margin-right: 10px;
}

.photoperfil img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.title-card h3{
    margin-top: 0;
    font-size: 15px;
    margin-bottom: 0px;
    
}
.title-card p{
    font-size: small;
    margin: 0px;
}

.option{
    justify-content: end;
    align-items: end;
}


.bodycard img{
    width: 100%;
}
.like i{
    margin: auto;
    padding-left: 10px;
    margin-top: 5px;
}

#save{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
.description p{
    margin-left: 10px;
    padding-bottom: 10px;
}

.likes p{
   padding-left: 10px;
}